@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'atropos/scss';

body{
    margin: 0px;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;             /* width of the entire scrollbar */
}

.NavBar{
    width: calc(100vw - 60px);
    height: 100px;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;

    .Logo{
        width: 150px;
    }

    h3{
        color: white;
        transition: all ease .2s;

        &:hover{
            transform: scale(1.2);
            text-shadow: 0px 0px 15px black;
            cursor: pointer;
        }
    }
}

.Footer{
    margin: 0px;
    width: calc(100vw - 60px);
    height: 100px;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    overflow: hidden;

    .Logo{
        width: 150px;
    }

    h3{
        color: white;
        transition: all ease .2s;

        &:hover{
            transform: scale(1.2);
            text-shadow: 0px 0px 15px black;
            cursor: pointer;
        }
    }
}

.Page{
    width: 100vw;
    min-height: calc(100vh - 200px);
    margin: 0px;
    background-image: url('src/img/fondoInfinito.png');
    background-size: cover;
    background-repeat: repeat-y;
    overflow: hidden;
    h1{
        margin: 0px;
        color: white;
        font-size: 80px;
        width: 100vw;
        text-align: center;
        padding: 30px 0px;
        filter: drop-shadow(5px 5px 5px black);
    }

    h3{
        color: white;
        text-align: center;
        padding: 0px 100px;
    }
}

.sabores{
    display: flex;

    .side{
        width: calc(50vw - 40px);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.6);
        margin: 20px;
        border-radius: 20px;
        padding-bottom: 20px;

        h1{
            margin: 0px;
            color: white;
            font-size: 50px;
            width: 100vw;
            text-align: center;
            padding: 30px 0px;
            filter: drop-shadow(5px 5px 5px black);
        }
        .container{
            img{
                width: 20vw;
                border-radius: 10px;
            }

            .left{
                position: relative;
                right: 50%;
            }

            .right{
                position: relative;
                left: 50%;
            }
        }
    }
}

.presentaciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .cardContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: relative;
        margin: 100px 0px;

        .card{
            width: 27vw;
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            height: 50vh;

            img{
                width: 20vw;
            }

            .Atropos, h3, h4{
                position: relative;
                bottom: 90px;
                transition: all ease .5s;
            }

            .Atropos{
                &:hover{
                    filter: drop-shadow(0px 0px 25px black);
                }
            }

            h3, h4{
                color: white;
                text-align: center;
                margin: 0px;
                bottom: 65px;
            }

            h3{
                font-size: 50px;
            }

            h4{
                font-size: 25px;

            }
        }
    }
}

a{
    text-decoration: none;
}